center{
  margin: 18%;
  border: 3px dashed red;
  background-color: rgb(252, 198, 198);
  padding: 10px;
  border-radius: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p{
  font-size: larger;
  font-weight: 500;
}

h2{
  font-size: xx-large;
  font-weight: 700;
}